Source: ros-iron-lanelet2-traffic-rules
Section: misc
Priority: optional
Maintainer: Fabian Poggenhans <fabian.poggenhans@kit.edu>
Build-Depends: debhelper (>= 9.0.0), libgtest-dev <!nocheck>, ros-iron-ament-cmake-core, ros-iron-lanelet2-core, ros-iron-mrt-cmake-modules, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-lanelet2-traffic-rules
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-lanelet2-core, ros-iron-mrt-cmake-modules, ros-iron-ros-workspace
Description: Package for interpreting traffic rules in a lanelet map
